
		.roundabout-holder {
			padding: 0;
			margin: 0 auto;
			height: 400px;
			width: 620px;
		}
		
		.roundabout-moveable-item {
			height: 400px;
			width: 320px;
			cursor: pointer;
			border:1px solid black;
			display:block;
		}
		
		.roundabout-moveable-item img {
			height: 100%;
			width: 100%;
		}
		
		.roundabout-in-focus {
			cursor: auto;
		}
		
		#carousel-descriptions {
			list-style:none;
			display:block;
			width:850px;
			margin:25px auto;
			padding:0;
		}
		
		#carousel-descriptions li {
			font-size:24px;
			font-weight:bold;
			text-align:center;
			display:none;
		}
		
		#carousel-descriptions li.current {
			display:block;
		}
		
		#carousel-controls {
			max-width:900px;
			width:auto;
			margin:25px auto;
			overflow:auto;
			border-collapse:collapse;
			text-align:center;
		}
		
		#carousel-controls span {
			width:100px;
			display:inline-block;
			font-size:14px;
			text-align:center;
			margin:0 5px;
			padding:5px;
			cursor:pointer;
			border:1px solid black;
			background:#333;			
		}
		/*
		#carousel-controls td span {
			font-size:14px;
			text-align:center;
			margin:0 5px;
			padding:5px;
			cursor:pointer;
			border:1px solid black;
			background:#333;
		}*/
		
		#carousel-controls .current {
			background:#600;
			color:;
			border-color:#400;
		}
